In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv(r"C:\Users\Krishna\Downloads\us_customer_data 1.csv")
df2=pd.read_csv(r"C:\Users\Krishna\Downloads\transaction_data.csv")

In [3]:
df=pd.merge(df1,df2,how='inner',on='customer_id')

In [ ]:
df

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
 7   transaction_id     1000 non-null   int64
 8   amount             1000 non-null   float64
 9   transaction_date   1000 non-null   object
 10  product_category   1000 non-null   object
 11  payment_method     1000 non-null   object
 12  store_location     1000 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 101.7+ KB

In [13]:
df=df.drop(columns=['Unnamed: 0_x','Unnamed: 0_y'],errors='ignore')

In [43]:
tg=df.groupby(['customer_id','name'])['amount'].sum()

In [44]:
tg=tg[tg>1000]

In [45]:
tg=tg.sort_values(ascending=False)

In [49]:
tg

customer_id  name
488          Brandy Sawyer        15704.70
301          Michael Schroeder    13797.22
866          Michael Ross         13699.75
760          Sharon Cole          13656.30
697          Diana Ray            13140.66
                                    ...
390          Jennifer Church       1060.95
558          Mike Smith            1057.89
325          Jason Mendoza         1024.59
307          Courtney Reed         1008.48
617          Alexander Clarke      1006.88
Name: amount, Length: 578, dtype: float64

In [47]:
tg.to_csv(r'C:\Users\Krishna\Downloads\VIP_customers.csv')